# Created by .ignore support plugin (hsz.mobi)
.idea/LeagueOfLegendsCoach.iml
.idea/inspectionProfiles/
.idea/misc.xml
.idea/modules.xml
.idea/workspace.xml
data/__pycache__/

# Data source files
*.csv

# Model persistence files
*.pkl

# Virtual environment files
venv
stats/__pycache__/
